[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
bountygraph = "Ghm5zPnHy5yJwQ6P22NYgNVrqPokDqAV3otdut3DSbSS"

[programs.devnet]
bountygraph = "Ghm5zPnHy5yJwQ6P22NYgNVrqPokDqAV3otdut3DSbSS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "node --loader ts-node/esm ./node_modules/mocha/bin/mocha.js tests/**/*.test.ts --timeout 120000"
