[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
bountygraph = "Ghm5zPnHy5yJwQ6P22NYgNVrqPokDqAV3otdut3DSbSS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"
